* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
  }
  
  header {         
    display: flex;
    justify-content: space-between;
    background-color: #171717;
    height: 63px;
    width: 100%;
    padding: 20px 10px;
    position: sticky;
    top: 0.5px;
  }


.navbar {
    display: flex;                
  }

.navbar :hover{
 background-color: #3f3f3f;
}

.navbar a{
   margin-left: 15px; 
    font-family: fantasy;
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
   
}

.logo a{
  font-family: fantasy;
  color: white;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.seccion-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(recursos/header.jpg);
  height: 60vh !important; 
  background-size: cover;
  

 
 
}

.centrado-titulo{
  display: flex;
  padding: 10px 20px;
}

 h1{
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 40px;
  color: white;
  padding: 20px 20px;
}  


.centrado-parrafo{
  display: flex;
  padding: 20px 20px;
}

p{
  margin-bottom: 40px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.botones-main{
  display: flex;
  gap: 15px;
}

button{
  font-size: 19px;
  background-color: #9c27b0;
  border-color: #9c27b0;
  border-radius: 5px;
  color: white;
}

button:hover{
  background-color: #9d55aa;
}

.segunda-seccion{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #171717;
  padding: 20px 20px;

}



.contenedor-caja{
  display: flex;
  flex-direction: row;
}

.caja{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contenedor-caja .caja{
  border-radius: 10px;
  background-color: #101010;
  margin-top: 10px;
  margin-left: 15px;
  text-align: center;
  
}

.contenedor-caja .caja i{
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  background-color: #9c27b0;
  color: white;
}

.contenedor-caja .caja i:hover{
  background-color: #9d55aa;
}

.tercera-seccion{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #171717;
}


.tercera-seccion p{
  border-radius: 10px;
  background-color: #101010;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.cuarta-seccion{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(recursos/costos.jpg);
  height: 50vh !important; 
  background-size: cover;
  text-align: center;
}

.quinta-seccion{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #171717;
  padding-bottom: 30px;

}

.quinta-seccion img{
  display: flex;
  border-radius: 5px;
  width: 350px;
 
}